<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVICOLA - Inicio de Sesión</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!--ejemplo de como referenciar los stylos de la carpeta templates -->
</head>
<body>
    <div class="container">
        <h1 class="title">AVICOLA</h1>
        
        <div class="logo">
            <img src="{{ url_for('static', filename='pollo1.png') }}" alt="Logo Pollo" />  <!--ejemplo de como referenciar las imagenes de la carpeta static -->
        
        <div class="form-container">
            <div class="form-label">Email</div>
            <input type="email" class="form-input" placeholder="Introduce tu email">
            
            <button class="formulario-button">Siguiente</button>
            <button class="google-button">Continuar con google</button>
            <a href="{{ url_for('vista2') }}" class="bn">Nadamas</a>  <!--ejemplo de como referenciar las vistas desde el boton -->
    </div>
</body>
</html>